.container {
  display: flex;
  flex: 0 1 0;
  border: 1px solid hsla(0,0%,100%,.3);

  input {
    color: white;
    font-size: 15px;
    line-height: 24px;
    background: black;
    flex: auto;
    border: none;
    padding: 10px 15px;
    outline: none;
  }

  textarea {
    resize: none;
    color: white;
    font-size: 15px;
    line-height: 24px;
    background: black;
    flex: auto;
    border: none;
    padding: 10px 15px;
    outline: none;
  }
}
