
.Container {
  display: flex;
  &__Caption {
    display: flex;
    flex-direction: column;
    &_primary {}
    &_secondary {}
  }
  &__img {
    width: 71px;
    height: 71px;
    background: aqua;
    border-radius: 50%;
  }
}
