.plus {
  background: url('assets/icons/plus.svg');
}

.search {
  background: url('assets/icons/search.svg');
}

.starGrey {
  background: url('assets/icons/star_grey.svg');
}

.starBlue {
  background: url('assets/icons/star_blue.svg');
}

.dotsVertical {
  background: url('assets/icons/more_vert.svg');
}
